.debug {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%
}

.container {
    width: 300px;
    height: 100vh;
    font-size: 8px;
    background: #efefef;
    position: absolute;
    right: 0;
    overflow-y: scroll;

    .wrapper {
        word-wrap: break-word;
        overflow: auto;

        .log {
            border-bottom: 1px solid #b1b1b155;
            padding: 2px 6px;
        }

    }
}

.vjs-container {
    z-index: 5000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.vjs-wrapper {
    max-height: 100vh;
    overflow: hidden;
}